<div class="px-3 md:lg:xl:px-40 py-10 font-serif">
  <div class="flex justify-center">
    <div
      class="bg-slate-900 text-white overflow-hidden rounded-md max-w-sm p-2 min-h-[500px] flex flex-col drop-shadow-2xl w-1/2"
    >
      <div>
        <div class="text-center pb-4 pt-2 text-xl font-bold">
          {{ character.name }}
        </div>
        <div class="flex flex-col justify-center">
          <div class="{{ character.color }} text-white text-center mx-4">
            {{ character.className[0] }}
          </div>
          <div class="text-center pb-4 pt-2 text-base text-slate-500">
            {{ character.className }}
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center min-h-[100px] mx-4">
        <img
          class="object-cover h-48 w-96 rounded"
          src="{{ character.image }}"
          alt="{{ character.name }}"
        />
      </div>

      <div class="flex flex-row border-b">
        <div class="basis-2/3">
          <div class="text-left pl-8 pt-2 text-base text-slate-500 border-b">
            Attributes
          </div>
          <div class="text-left text-base pl-8 pb-4 pt-2">Hit Points</div>
          <div class="text-left text-base pl-8 pb-4 pt-2">Strength</div>
          <div class="text-left text-base pl-8 pb-4 pt-2">Defense</div>
          <div class="text-left text-base pl-8 pb-4 pt-2">Intelligence</div>
        </div>
        <div class="basis-1/3 justify-items-stretch">
          <div class="text-left pt-2 text-base text-slate-500 border-b">
            Value
          </div>
          <div class="text-base pb-4 pt-2 text-left">
            {{ character.hitPoints }}
          </div>
          <div class="text-base pb-4 pt-2 text-left">
            {{ character.strength }}
          </div>
          <div class="text-base pb-4 pt-2 text-left">
            {{ character.defense }}
          </div>
          <div class="text-base pb-4 pt-2 text-left">
            {{ character.intelligence }}
          </div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="basis-2/3">
          <div class="text-left pl-8 pt-2 text-base text-slate-500">Weapon</div>
          <div class="text-left text-semibold text-lg pl-8 pb-4 pt-2">
            {{ character.weapon.name }}
          </div>
        </div>
        <div class="basis-1/3 justify-items-stretch">
          <div class="text-left pt-2 text-base text-slate-500">Damage</div>
          <div class="text-base pb-4 pt-2 text-left">
            {{ character.weapon.damage }}
          </div>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="basis-2/3">
          <div class="text-left pl-8 pt-2 text-base text-slate-500">Skills</div>
          <div
            *ngFor="let skill of character.skills"
            class="text-left text-semibold text-base pl-8 pb-4 pt-2"
          >
            {{ skill.name }}
          </div>
        </div>
        <div class="basis-1/3 justify-items-stretch">
          <div class="text-left pt-2 text-base text-slate-500">Damage</div>
          <div
            *ngFor="let skill of character.skills"
            class="text-base pb-4 pt-2 text-left"
          >
            {{ skill.damage }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center my-4">
    <button
      *ngIf="character"
      type="button"
      (click)="addToDeathmatch(character)"
      class="font-mono border border-gray-200 bg-gray-200 text-gray-700 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-300 focus:outline-none focus:shadow-outline"
    >
      Add to fight!
    </button>
  </div>
</div>
