<form
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      [(ngModel)]="form.username"
      required
      #username="ngModel"
    />
    <div *ngIf="username.errors && f.submitted">Username is required!</div>
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="form.password"
      required
      #password="ngModel"
    />
    <div *ngIf="password.errors && f.submitted">
      <div *ngIf="password.errors['required']">Password is required</div>
    </div>
  </div>
  <div>
    <button>Login</button>
  </div>
</form>
